/* Global Styling */

* {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

/* Nav Bar Styling*/
#navbar {
    position: fixed;
    top: 0;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #063970;
    color:#F8F0E3;
    border-bottom: 5px solid #0B0B45;
}

#nav-title {
    font-size: 3rem;
    margin: 0.5rem;
    padding: 0.4rem 0;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #0B0B45;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 769px){
    .nav-list{
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: center;
    }
    .nav-div {
        height: 8rem;
    }

    .nav-item {
        width: 10rem;
    }
   
   
  }
.nav-item {
    text-align: center;
    list-style-type: none;
    flex-basis: 50%;
    min-width: 50%;
}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    color:#F8F0E3;
    display: block;
    padding: .5rem;
}

.nav-link:hover {
    background-color: #333
}


/*Main Body Styling*/

#content {
    background-color: #0B0B45;
    color:#F8F0E3;
    border-bottom: 3px solid #063970;
    font-size: 2.7rem;
    
}    

#welcome-section h1 {
    font-size: 4rem;
    text-align: center;
}
#welcome-section p {
    font-size: 2rem;
    text-align: center;
}
#welcome-section {
    background-image: url("https://as2.ftcdn.net/v2/jpg/00/89/97/05/1000_F_89970534_T0DOG6zW2gH1Jjy48ixt8yOj7OkU5gsO.jpg");
    background-size: cover;
    padding: 15rem 2rem 2rem 2rem;
    height: 100vh;
}

/*Project List Styling*/

#projects h2{
    font-size: 5rem;
}
#projects {
    padding: 11rem 2rem 2rem 2rem;
    font-size: 3rem;
    text-align: center;
    background-color: green;
}

#project-div {
    display: grid;
    grid-template-columns: 60vw;
    background-color: #063970;
    justify-content: center;
  
}

.project-link {
    justify-self: stretch;
}

@media screen and (min-width: 769px){
    #project-div {
        display: grid;
        grid-template-columns: 40vw 40vw; 
        grid-gap: 3rem;
    }

    #profile-link {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
.tile-image {
    width: 100%;
    max-width: 60vw;
}


.project-link:hover {
    background-color: #333;
}

.project-link {
    text-decoration: none;
    background-color: #063970;
    color:#F8F0E3;
    font-size: 3em;
    
}

/*About me & Contact Styling*/
#about-me h2, #contact{
    font-size: 5rem;
}
#about-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    padding: 12rem 2rem 2rem 2rem;
    font-size: 3rem;
    text-align: center;
}

#about-me-image {
    justify-self:stretch;
}

@media screen and (min-width: 769px){
   
    #about-me {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr .5fr;
        padding: 12rem 2rem 2rem 2rem;
        font-size: 3rem;
        text-align: center;
        grid-template-areas: 
        "header header"
        "sidebar main";
    }
    
    #about-me-image {
       grid-area: sidebar;
    }
    #about-me-text {
        grid-area: main;
    }
    #about-me-header {
        grid-area: header;
    }
}
#contact h2 {
    text-align: center;
}

#contact-bar {
    margin: 1em;
    padding: 0.5em;
    border: 2px solid #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #contact-bar, #contact-bar a{
      text-decoration: none;
      list-style-type: none;
  }

/* https://t4.ftcdn.net/jpg/01/25/68/13/240_F_125681396_ITQILuRUKsqCe3xzBp6cj9LA72f4Y4Ch.jpg/* /*sidebar image for about*/